{% extends 'base.html' %}
{% block content %}
  <div class="container mt-5">
    <h1 class="text-center mb-4">Укорачиватель ссылок</h1>
    <form method="POST" action="" novalidate>
      <div class="mb-3">
        <label for="original-url" class="form-label">Вставьте ссылку</label>
        <input type="url" class="form-control" id="original-url" name="original-url" required>
      </div>
      <button type="submit" class="btn btn-primary mb-3">Получить короткую ссылку</button>
    </form>
  </div>
{% endblock %}